.primary-button {
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(79, 76, 76));
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(260deg, rgb(0, 0, 0), rgb(79, 76, 76));
}


.primary-title {
    font-size: 90px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0) 100%
    ), url('images/6e9794bcedeecf5a8f8f41338a2a7345.webp')
}

.home {
    margin-top: 10vh;
}

.tag-line{
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 0;
}