nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .nav-btn{
    color: rgb(254,48,114);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 28px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}


nav .logo-container{
    width: 170px;
    margin: 15px;
    height: 50px;

}

nav .logo-container .logo{
    width: 100%;
}